
.slider-box {

    width: 80%;
    height: 75vh;
    background-color: #161c36;

    text-align: center;

    margin: 0 auto;

    border: 2px solid white;
    border-radius: 50px;
}

.active {
    border: 5px solid gold;
    width: 95%;
}

.swiper-pagination {
    bottom: 10px !important;
    text-align: center !important;
}

@media (max-width: 1000px) {

    .slider-box {
        height: 50vh;

        font-size: smaller;
    }
}