.contenedor {
    margin-top: 40rem;

    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 20rem;

    padding: 1rem 2rem;
    
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.titulo{
    color: white;
    font-size: 2rem;
}

.titulo span{
    font-weight: 800;
    font-size: 5.5rem;
}

.texto{
    color: gray;
    font-size: 1.2rem;
    font-weight: 100;
}

.imagen {
    max-width: 100%;
    height: auto;
    opacity: 0.7;
}