.contenedor {
    margin-top: 40rem;

    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 20rem;

    padding: 1rem 2rem;
    padding-left: 5rem;
    
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.titulo{
    color: white;
    font-size: 2rem;
}

.titulo span{
    font-weight: 800;
    font-size: 5.5rem;
}

.texto{
    color: gray;
    font-size: 1.2rem;
    font-weight: 100;
}

.imagen {
    max-width: 100%;
    height: auto;
    opacity: 0.8;

    filter: blur(0.1px);
    filter: brightness(90%);

    border: 4px solid gold;
    border-radius: 50%;

    max-width: 100%;
    height: auto;

}

.imagen:hover {

    border: 4px solid white;
    transition-duration: 1s;
    cursor: pointer;

    transform: scale(1.05);

}

.contenido {
    padding-bottom: 7rem;
    padding-right: 4rem;
}