.fondo {
    
    margin-left: -0.3rem;
    margin-right: -0.3rem;
    background-image:
    radial-gradient(at 0% 57%, hsla(240,0%,100%,0.32) 0px, transparent 50%),
    radial-gradient(at 100% 57%, hsla(56,100%,50%,0.4) 0px, transparent 50%);


    margin-bottom: 8rem;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.contenido{

    color: white;

    text-align: center;
}

.contacto {

    text-align: left;
    margin-left: 2rem;
    font-size: 2.5rem;

    margin-top: 14rem;

}

.texto {

    text-align: center;
    font-size: 1.6rem;
    color: gold;
}


.datos{

    font-size: 1.2rem;
}

.links {

    font-size: 1.2rem;
}


.links p{
    padding-top: 1rem;
}

@media (max-width: 850px) {
    .contenido{
        width: 100%;
    }
}