.fondo {
    
    background-image:
    radial-gradient(at 0% 57%, hsla(240,0%,100%,0.32) 0px, transparent 50%),
    radial-gradient(at 100% 57%, hsla(56,100%,50%,0.4) 0px, transparent 50%);

    margin-bottom: 10rem;
    

}

.contenido{

    /*
    background-image:
    radial-gradient(at 0% 57%, hsla(240,0%,100%,0.32) 0px, transparent 50%),
    radial-gradient(at 100% 57%, hsla(56,100%,50%,0.4) 0px, transparent 50%);
    */

    color: white;

    text-align: center;
}

.contacto {

    text-align: center;
    font-size: 3.3rem;

    margin-top: 14rem;
    color: gold;

}

.texto {

    text-align: center;
    font-size: 1.6rem;
    color: #B8B93C;
}


.datos{

    font-size: 1.2rem;
}

.links {

    font-size: 1.2rem;
}


.links p{
    padding-top: 1rem;
}

@media (max-width: 850px) {
    .contenido{
        width: 100%;
    }
}