
.contenido {

    position: relative;
    padding: 2rem;
    color: white;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabeza {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}

.firma {

    padding-top: 0.5rem;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

.navegacion {

    margin-top: 3.2rem;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    gap: 3rem;

    
    
}

.navegacion a {
    font-size: 1rem;
    cursor: pointer;
}

.navegacion a:hover{

    border-bottom: 2px solid gold;

    color: gray;
}

@media (max-width: 890px) {

    .contenido {
        margin: 1rem;
        padding: 0.5rem;
    }

    .cabeza {
        margin: 0;
    }

    .firma {
        margin-top: 2rem;
        margin-right: 4rem;
        margin-left: 1rem;
        padding: 2rem 2rem;

        font-size: 1.5rem;
    }

    .navegacion {

        margin-top: 3.7rem;
        margin-right: 2rem;
        gap: 2rem;

    }



    
}



@media (max-width: 769px) {

    .contenido {
        margin: 1rem;
        padding: 0.5rem;
    }

    .cabeza {
        margin: 0;
    }

    .firma {
        margin-top: 2rem;
        margin-right: 4rem;
        margin-left: 1rem;
        padding: 2rem 2rem;

        font-size: 0.8rem;
    }

    .navegacion {

        margin-top: 3.7rem;
        margin-right: 2rem;
        gap: 2rem;

    }

}

@media (min-width: 600px) and (max-width: 750px) {

    .navegacion {
        gap: 1rem;
    }

    .navegacion a {
        font-size: 1rem;
    }

}

@media (max-width: 540px) {

    .contenido {
        margin: 2rem 0 10rem;
    }

    .cabeza {
        display: block;
        text-align: center;
        
    }
    .firma {
        font-size: 3rem;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .navegacion {
        margin-right: 0;
        justify-content: center;
        font-size: 2rem;
    }
}