
.pagina{
    margin: 3px;
    position: relative;
}


.video{
    max-width: 100%;
    height: 800px;
    position: absolute;
    overflow: hidden;
}

.contenedor{
    margin: 2rem;
    position: relative;
}

.titulo{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color:white;
    font-family: Verdana;
    padding: 2rem;
    margin-top: 15rem;
}

.imagen{
    position: absolute;
    opacity: 0.3;
}

@media (max-width: 850px) {

    .contenedor {

        padding: 1rem;
    }

    .imagen {
        height: 800px;
    }
}

@media (max-width: 600px) {
    
    .pagina {
        
        margin-right: -10rem;
    }

    .contenedor {

        margin: 1rem;
        padding: 0;
       
    }

    .imagen {
        height: 800px;
    }
}