
.pagina {
    position: relative;
}


.video {
    width: 100%;
    height: 800px;
    position: absolute;
    overflow: hidden;
}

.contenedor {
    margin: 2rem;
    position: relative;
}

.titulo {
    font-size: 2.5rem;
    font-weight: 700;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
    margin-top: 15rem;
    padding-left: 9rem;
}


@media (max-width: 850px) {

    .contenedor {
        padding: 1rem;
    }

    .titulo {
         padding-left: 5rem;
    }

}

@media (max-width: 600px) {

    .titulo {
        text-align: center;
        padding: 0;
    }
    
    .pagina {
        
        margin-right: -10rem;
    }

    .contenedor {

        margin: 1rem;
        padding: 0;
       
    }

}

@media (min-width: 2000px) {

    .pagina {
        margin: 5rem;
    }

    .contenedor {
        padding: 0 8rem 8rem 8rem;
        margin: 4rem;
    }

    .video {

        display: flex;
        justify-content: center;
    }

    .titulo {
        
        padding-left: 24rem;
    }
}
