.contenedor{
    display: flex;
    margin: 4rem 4rem;
    overflow-x: scroll;
}

.etiqueta {
    border: 1px solid gray;
    width: 100%;
    border-radius: 12px;
    padding: 2rem 1rem;
    margin: 1rem 2rem;
    color: white;
    background-color:hsla(45,0%,0%,1);
    background-image:
        radial-gradient(at 50% 38%, hsla(0,0%,20%,1) 0px, transparent 50%),
        radial-gradient(at 11% 100%, hsla(18,0%,26%,1) 0px, transparent 50%),
        radial-gradient(at 86% 100%, hsla(55,0%,25%,1) 0px, transparent 50%);

    cursor: pointer;
}


/*
.etiqueta {
    border: 1px solid gray;
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem 2rem 1rem 2rem;
    color: white;
    background-color:hsla(45,0%,0%,1);
    background-image:
        radial-gradient(at 50% 38%, hsla(0,0%,20%,1) 0px, transparent 50%),
        radial-gradient(at 11% 100%, hsla(18,0%,26%,1) 0px, transparent 50%),
        radial-gradient(at 86% 100%, hsla(55,0%,25%,1) 0px, transparent 50%);

    cursor: pointer;
}
*/



.etiqueta h1{
    font-size: 2rem;
    font-weight: 700;
    color:white;
    text-align: center;
}

.enlaces {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.1rem;
    font-size: 1.5rem;
}

.enlaces a:first-of-type{
    margin-left: 2rem;
    text-align: left;
}

.enlaces a{
    margin-right: 2rem;
    text-align: right;
}