

.scroll {

    height: 30rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider {

   background-color: black;
   border: 5px solid gold;
   border-radius: 20px;

    width: 90%;
    height: 100%;
}

@media (min-width: 2000px) {

    .scroll {
        margin: 2rem 10rem;
    }
}
