.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.etiqueta {
    border: 1px solid gray;
    border-radius: 12px;
    padding: 1rem;
    margin: 5px;
    color: white;
    background-color:hsla(45,0%,0%,1);
    background-image:
        radial-gradient(at 50% 38%, hsla(0,0%,20%,1) 0px, transparent 50%),
        radial-gradient(at 11% 100%, hsla(18,0%,26%,1) 0px, transparent 50%),
        radial-gradient(at 86% 100%, hsla(55,0%,25%,1) 0px, transparent 50%);
}



.etiqueta h1{
    font-size: 2rem;
    font-weight: 700;
    color:white;
    text-align: center;
}

.enlaces {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1.1rem;
}